.water_s{background:url(../../media/IMG/window_fish_eye/window_both_water.png);background-size:contain;background-repeat:repeat-x;position:absolute;top:23%;left:63%;width:13%;height:6%;z-index:2;animation:animate 10s infinite linear;border-bottom-left-radius:120px;border-bottom-right-radius:120px}

.water_u{background:url(../../media/IMG/window_fish_eye/window_both_water.png);background-size:contain;background-repeat:repeat-x;position:absolute;top:22%;left:63%;width:13%;height:6%;z-index:0;animation:water_u 14s infinite linear;border-bottom-left-radius:120px;border-bottom-right-radius:120px}

@keyframes animate{
    0%{background-position:0 0}
    20%{background-position:50px 5px}
    40%{background-position:100px 0px}
    60%{background-position:150px 0px}
    80%{background-position:200px 5px}
    100%{background-position:250px 0px}}

@keyframes water_u{
    0%{background-position:0 5px}
    20%{background-position:-50px 0}
    40%{background-position:-100px 5px}
    60%{background-position:-150px 0}
    80%{background-position:-200px 5px}
    100%{background-position:-250px 0}}

.smoke{display:none;background-image:url(../../media/img/cup_smoke.png);background-size:contain;background-repeat:repeat-y;position:fixed;top:46.3%;left:31%;z-index:0;width:4%;height:5%;animation:smoke 2s infinite linear}@keyframes smoke{0%{background-position:0 5px}25%{background-position:0 -5px;opacity:.5}50%{background-position:0 -10px;opacity:.3}75%{background-position:0 -15px;opacity:.1}100%{background-position:0 -20px;opacity:.0}}
